pandas==2.3.3
psycopg2-binary==2.9.11
Flask==3.1.2
cloudinary==1.44.1
requests==2.32.5
gunicorn==25.1.0
google-auth==2.55.0
google-genai==2.10.0
google-pasta==0.2.0
googlesearch-python==1.3.0
flask-cors==6.0.5
emails==1.1.2
